* {
  box-sizing: border-box;
}
body,
h1,
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background: var(--color-slate-300, #D5E1EF);
}
.card {
  width: 320px;
  background: var(--color-white, #fff);
  border-radius: 20px;
  box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.05);
  padding: 16px ;
}
.card__image {
  width: 100%;
  border-radius: 10px;
}
.card__content {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  gap:16px;
 padding: 24px 8px 8px;
}
.card__title {
  color: var(--color-slate-900, #1f314f);
  font-feature-settings:
    'liga' off,
    'clig' off;

  /* text-preset-1 */
  font-family: Outfit;
  font-size: var(--font-size-text-preset-1, 1.375rem);
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 1.65rem */
}
.card__description {
  color: var(--color-slate-500, #68778d);
  font-feature-settings:
    'liga' off,
    'clig' off;

  /* text-preset-2 */
  font-family: Outfit;
  font-size: var(--font-size-text-preset-2, 0.9375rem);
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 1.3125rem */
  letter-spacing: 0.0125rem;
}
